.front-p{
  background-color: green;
  width: 50px;
  padding: 10px 15px 10px 15px;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 50px;
  height: 50px;
  margin: 0;
}
.front-d{
  align-items: center;
  justify-content: center;
  display: flex;
}

.front-d:hover{
  
}