.subscribe-button{
    color: white;
    background-color: rgb(200, 0, 0);
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    border-radius: 4px;
    vertical-align: top;
    margin-right: 10px;
    cursor: pointer;
    transition: opacity 0.2s;
  }  

  .subscribe-button:hover{
    opacity: 0.8;
  }

  .subscribe-button:active{
    opacity: 0.4;
  }

  .join-button{
    border-color: rgb(14, 14, 89);
    border-style: solid;
    border-width: 1px;
    background-color: white;
    color: rgb(0, 0, 185);
    outline-color: blue; 
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 13px;
    padding-right: 10px;
    border-radius: 4px;
    vertical-align: top;
  }

  .join-button:hover{
    background-color: rgb(0, 0, 185);
    color: white;
  }

  .join-button:active{
    opacity: 0.6;
  }

  .tweet-button{
    background-color: rgb(0, 151, 210);
    border-radius: 20px;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: box-shadow 0.2s, background-color 0.2s;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 11px;
    padding-right: 20px;
    border-radius: 8px;
    vertical-align: top;
  }

.tweet-button:hover{
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.tweet-button:active{
box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.div-cont {
  display: flex;
  gap: 10px;
}