.img {
        font-family: roboto;
        font-size: larger;

      }
      .username {
        font-weight: bold;
      }

      .em{
      
      font-style:italic;
      font-weight: bold;
      }









<!DOCTYPE html>
<html>
  <head>
    <style>
      .join-button{
        color: white;
        background-color: blue;
        padding-left: 80px;
        padding-right: 80px;
        padding-top: 8px;
        padding-bottom: 8px;
        border-radius: 20px;
        border-color: blue;
        cursor: pointer;
      }

      .text{
        font-size: 10px;
        color: grey;
      }
      .email{
        color: grey;
      }
      .inp{
        width: 223px;
      }
    </style>
  </head>
  <body>
    <p class="email">Email</p>
    <input class="inp" type="checkbox">
    <p class="text">By clicking agree & Join, you agree to the Privacy Policy.</p>
    <button class="join-button">Agree&Join</button>
  </body>
</html>